.card {
  color: var(--text-secondary-color);
  padding: 24px 16px;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color:black;
  text-align: center;
}

.card header {
  display: block;
  background-color: transparent;
  position: static;
}

.card header p {
    font-size: 20px;
    font-weight: var(--text-weight);
}

.card header h3 {
    font-size: 40px;
    font-weight: var(--title-weight);
    margin: 8px 0px 0px;
}

.card header span {
    font-size: 32px;
    margin-top: 24px;
    display: inline-block;
}
