.card {
  color: var(--text-secondary-color);
  padding: 24px 16px;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: black;
  text-align: center;
}

.card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.card header p {
  font-size: 20px;
  font-weight: var(--title-weight);
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0px 0px;
}

.card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}

.card.japao{
    background: url(./img/bg-card-japao.jpg) no-repeat;
    background-size: cover;
}

.card.san-andreas{
    background: url(./img/bg-card-sa.jpg) no-repeat;
    background-size: cover;
}

.card.paraiba{
    background: url(./img/bg-card-paraiba.jpg) no-repeat;
    background-size: cover;
}

.card.manaus{
    background: url(./img/bg-card-manaus.jpg) no-repeat;
    background-size: cover;
}

@media screen and (min-width: 1024px) {
  .card{
    width: 588px;
    height: 308px;
  }
  .card header h3 {
  font-size: 48px;
}

.card header span {
  font-size: 40px;

}
}