.hero-img {
  height: 460px;
  width: 100%;
  background-image: url(../img/Pagina-Destinos/hero-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-img {
  width: 100%;
  height: 400px;
  background-image: url(../img/Pagina-Destinos/hero-footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 88px;
}

.hero h1 {
  padding: 65px 24px 16px 24px;
  font-weight: bold;
  font-size: 48px;
  font-family: "montserrat";
  color: var(--background-primary-color);
  text-align: left;
}
.hero hr {
  background: var(--secondary-color);
  border: none;
  width: 180px;
  height: 4px;
  margin: 0 24px;
}

.hero p {
  color: var(--background-primary-color);
  font-size: 20px;
  line-height: 32px;
  margin: 32px 24px;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
  }
  .hero-img {
    height: 620px;
    background: url(../img/Pagina-Destinos/hero-header-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .footer-img {
    height: 400px;
    background-image: url(../img/Pagina-Destinos/hero-footer-tablet.png);
  }
  .hero .hero-content {
    padding: 140px 40px 107px 100px;
  }

  .hero .hero-content p {
    font-size: 32px;
    line-height: 150%;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    background: url(../img/Pagina-Destinos/hero-header-desktop.jpg) no-repeat
      center;
    background-size: cover;
  }
  .footer-img {
    height: 600px;
    background-image: url(../img/Pagina-Destinos/hero-footer-desktop.png);
    max-width: 1440px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-img {
    max-width: 100%;
    height: 700px;
  }
}



@media screen and (min-width: 2056px) {
  .footer-img {
    height: 850px;
    background-size: contain;
    background-size: 100% auto;
  }
}
